.main{
    padding: 1rem;

    .product{

        .addProdbtn{
            cursor: pointer;
            background-color: #aa0000;
            color: #fff;
            padding: 1rem;
            border-radius: 1rem;
            width: fit-content;
            &:hover{
                background-color: #ff0000 ;
                box-shadow: 0 0 3px 3px  rgba(128,128,128,0.3);
            }
        }
    }
}