.main{
    padding: 1rem;
    .top{
        display: flex;
        justify-content: space-between;
        
    }
    .product{

        

        .productTable{
            margin-top: 2rem;
            width: 100%;
            thead{
                border: 2px solid black;
                th{
                    padding: 1rem;
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }
            tbody{
                border: 1px solid black;
                tr{
                    text-align: center;
                    td{
                        border-right: 1px solid black;
                        font-weight: 500;
                        padding: .5rem;
                    }
                }
            }
        }
    }
}

.addProdbtn{
    cursor: pointer;
    background-color: #aa0000;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    &:hover{
        background-color: #ff0000 ;
        box-shadow: 0 0 3px 3px  rgba(128,128,128,0.3);
    }
}