@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

.heroSection{
    display:flex;
    justify-content: space-around;
    padding-top: 5rem;
    .leftSection{
        flex-basis: 50%;
        padding: 2rem;
        h1{
            font-family:'Source Sans Pro', sans-serif;
            font-weight: 600;
            font-size: 4rem;
        }
    }
    .rightSection{
        padding: 2rem;
    }
}
@media screen and (max-width:820px){
    .heroSection{
        flex-wrap: wrap;
        .leftSection{
            flex-basis: 100%;
        }
    }
}